
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 10px;
}

.filterDiv {
    background-color: darkseagreen;
    color: white;
    width: 300px;
    height: 500px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
}

.show {
    display: flex;
}


#btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    row-gap: 8px;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: coral;
    cursor: pointer;
}

.btn:hover {
    background-color: chocolate;
}

.btn.active {
    background-color: darkorange;
    color: white;
}